# Set default for people who don't have autocrlf set
# This is primarily a windows project, so use crlf all the time
* text=auto eol=crlf

# Don't mess with the test directory
test/* binary

# Source files are text
*.c* text eol=crlf
*.h* text eol=crlf

# Script files are kinda platform specific
*.ps1 text eol=crlf
*.vbs text eol=crlf
*.cmd text eol=crlf
*.bat text eol=crlf
*.sh text eol=lf
